<!DOCTYPE html>
<!--if lt IE 7<html class="ie ie6" lang="en">-->
<!--if IE 7<html class="ie ie7" lang="en">-->
<!--if IE 8<html class="ie ie8" lang="en">-->
<!--if (gte IE 9)|!(IE)<!-->
<html lang="en">
<!--
-->
<html>

<head>
  <meta charset="utf8">
  <title>My website is gone &middot; Digital First Aid Kit</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../../css/main.css">
  <script src="../../javascripts/anchor.min.js"></script>
  <link rel="shortcut icon" href="../../images/favicon.ico">
  <link rel="apple-touch-icon" href="../../images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../../images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../../images/apple-touch-icon-114x114.png">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="../../feed.xml">
</head>
<header class="site-header">
  <div class="wrapper"><a class="site-title" href="../../">Digital First Aid Kit</a>
    <nav class="site-nav">
      <a class="menu-icon" href="#">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"></path>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"></path>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"></path>
        </svg>
      </a>
      <div class="trigger"><a href="../../de/">[de]</a>
        <!--<a href="{{site.baseurl}}/de/SichereKommunikation" alt="Secure Communication">Sichere Kommunikation</a>
<a href="{{site.baseurl}}/de/Konto-Diebstahl" alt="Account Hijacking">Konto-Diebstahl</a>
<a href="{{site.baseurl}}/de/Geratverloren" alt="Devices Seized">Gerät verloren</a>
<a href="{{site.baseurl}}/de/Schadprogramme" alt="Malware">Schadprogramme</a>
<a href="{{site.baseurl}}/de/DDoSEindammung/" alt="DDoS Mitigation">DDoS Eindämmung</a>
<a href="{{site.baseurl}}/de/Glossar" alt="Glossary">Glossar</a>
<a href="{{site.baseurl}}/de/Referenz" alt="Resources">Referenz</a>--><a href="../../en/">[en]</a>
        <!--<a href="{{site.baseurl}}/en/SecureCommunication" alt="Secure Communication"> </a>
<a href="{{site.baseurl}}/en/AccountHijacking" alt="Account Hijacking"> </a>
<a href="{{site.baseurl}}/en/DevicesSeized" alt="Devices Seized"> </a>
<a href="{{site.baseurl}}/en/Malware" alt="Malware"> </a>
<a href="{{site.baseurl}}/en/DDoSMitigation" alt="DDoS Mitigation"> </a>
<a href="{{site.baseurl}}/en/Glossary" alt="Glossary"> </a>
<a href="{{site.baseurl}}/en/Resources" alt="Resources"> </a>--><a href="../../es/">[es]</a>
        <!--<a href="{{site.baseurl}}/es/ComunicacionesSeguras" alt="Secure Communication">Comunicaciones Seguras</a>
<a href="{{site.baseurl}}/es/HackeodeCuentas" alt="Account Hijacking">Hackeo de Cuentas</a>
<a href="{{site.baseurl}}/es/DispositivosIncautados" alt="Devices Seized">Dispositivos Incautados</a>
<a href="{{site.baseurl}}/es/Malware" alt="Malware">Malware</a>
<a href="{{site.baseurl}}/es/MitigacionDDoS" alt="DDoS Mitigation">Mitigación DDoS</a>
<a href="{{site.baseurl}}/es/Glosario" alt="Glossary">Glosario</a>
<a href="{{site.baseurl}}/es/Referencias" alt="Resources">Referencias</a>--><a href="../../fr/">[fr]</a>
        <!--<a href="{{site.baseurl}}/fr/" alt="Secure Communication"> </a>
<a href="{{site.baseurl}}/fr/" alt="Account Hijacking"> </a>
<a href="{{site.baseurl}}/fr/" alt="Devices Seized"> </a>
<a href="{{site.baseurl}}/fr/" alt="Malware"> </a>
<a href="{{site.baseurl}}/fr/" alt="DDoS Mitigation"> </a>
<a href="{{site.baseurl}}/fr/" alt="Glossary"> </a>
<a href="{{site.baseurl}}/fr/" alt="Resources"> </a>--><a href="../../ru/">[ru]</a>
        <!--<a href="{{site.baseurl}}/ru/" alt="Secure Communication"> </a>
<a href="{{site.baseurl}}/ru/" alt="Account Hijacking"> </a>
<a href="{{site.baseurl}}/ru/" alt="Devices Seized"> </a>
<a href="{{site.baseurl}}/ru/" alt="Malware"> </a>
<a href="{{site.baseurl}}/ru/" alt="DDoS Mitigation"> </a>
<a href="{{site.baseurl}}/ru/" alt="Glossary"> </a>
<a href="{{site.baseurl}}/ru/" alt="Resources"> </a>--><a href="../../nl/">[nl]</a>
        <!--<a href="{{site.baseurl}}/nl/" alt="Veilige communicatie"> </a>
<a href="{{site.baseurl}}/nl/" alt="Antwoorden op DDoS aanvallen"> </a>--></div>
    </nav>
  </div>
</header>

<body>
  <div class="page-content">
    <div class="wrapper">
      <div class="post">
        <article class="post-content">
          <h1 id="my-website-is-down-what-is-going-on">My Website is down, what is going on?</h1>
          <p>A threat faced by many NGOs, independent media and bloggers is having their voices muted because their website is down or defaced. This is a frustrating problem but can have a lot of causes like bad website maintenance, cheap hosting, script-kiddies and or it could be a 'denial of service' attack or a website takeover. This section of the Digital First Aid Kit will walk you through some basic steps to diagnose potential problems and is using material from <a href="https://github.com/OpenInternet/MyWebsiteIsDown/blob/master/MyWebsiteIsDown.md">https://github.com/OpenInternet/MyWebsiteIsDown/blob/master/MyWebsiteIsDown.md</a></p>
          <p>It is important to know that there are many reasons why your website can be down. It can range from technical problems at the company that hosts the site or a not updated CMS like Joomla or Wordpress. Finding the problem and possible solutions to your website's problem can be cumbersome. Therefore, when possible, the best first step is to contact a trusted person who can help with your website (your webmaster, the people who helped you set up your site, your internal staff if you have them and the company that hosts your site, or if none of these are available, <a href="#">seek help from an organization you trust</a> ).</p>
          <p>It is good practice to <strong>contact your webmaster and the site host</strong> after investigating these common challenges below! The problem you face may not have been reported on their status page, may be a temporary problem, or the site host may not yet be aware of the problem. A good relationship with your service providers goes a long way - be clear and polite and share the results of your investigation using these questions to help them quickly troubleshoot the problem.</p>
          <h2 id="helpful-resources">Start by answering some simple questions:</h2>
          <ul>
            <li>Who built your website? Are they available to help?</li>
            <li>Was it build on a Wordpress or another open source CMS?</li>
            <li>Who is your web hosting provider? If you do not know, you can <a href="http://www.whoishostingthis.com/">use a tool</a> to help.</li>
            <li>Do you have your account log in details for this hosting provider?</li>
            <li>Who else knows or may have access to these account details?</li>
          </ul>
        </article>
        <a href="./error_message.html">Start</a>
      </div>
    </div>
  </div>
</body>
<footer class="site-footer">
  <div class="wrapper">
    <h2 class="footer-heading">Digital First Aid Kit</h2>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Digital First Aid Kit</li>
          <li><a href="mailto:rarenet@rarenet.org">rarenet@rarenet.org</a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/RaReNet"><span class="icon icon--github"><svg viewBox="0 0 16 16"><path fill="#828282" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"></path></svg></span><span class="username">RaReNet</span></a></li>
        </ul>
      </div>
      <div class="footer-col footer-col-3">
        <p class="text">The Digital First Aid Kit aims to provide preliminary support for people facing the most common types of digital threats. The Kit offers a set of self-diagnostic tools for citizen, human rights defenders, bloggers, activists and journalists fac
          ing attacks themselves, as well as providing guidelines for digital first responders to assist a person under threat.
        </p>
      </div>
    </div>
  </div>
</footer>
<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    anchors.options.placement = 'left';
    anchors.add('h1,h2,h3');
  })
</script>
<script src="http://localhost:35730/livereload.js"></script>

</html>
